mixin thumbCard(recipe)
  style.
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  .col-md-4.d-flex.align-items-stretch
    .card.mb-4.shadow-sm.bg-dark
      card-img-top
      img(src=recipe.url)
      .card-body
        .card-text
        strong.text-light #{recipe.title}
        .d-flex.justify-content-between.align-items-center
          .btn-group
            button.btn.btn-sm.btn-light Details

mixin addCard()
  style.
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  .col-md-4.d-flex.align-items-stretch
    .card.mb-4.shadow-sm.bg-dark
      card-img-top
      img(src="https://thumbs.dreamstime.com/b/plus-sign-icon-positive-symbol-zoom-vector-illustration-isolated-white-background-138387553.jpg")
      .card-body
        .card-text
        strong.text-light Share yours!
        .d-flex.justify-content-between.align-items-center
          .btn-group
            button.btn.btn-sm.btn-light 
              a(href="/addRecipe").text-dark Add