extends layout.pug
include _thumbCard


block content
  include jumbotron.pug
  .album.py-5.bg-light
    .container
      .row
        +addCard()
        each recipe in recipes
          +thumbCard(recipe)