section.jumbotron.text-center.bg-dark
    .container
        h1.text-light Recipe App
        p.lead.text-light Find the most awesome recipes out there and also include your own!
        p.text-light Just click the names to get started.
        